body {
	margin: auto;
	padding-left: 50px;
	padding-right: 50px;
	width: 900px;
	background: url("fon.jpg");
}
 
#container {
	background: #f0f0f0;
}

#section {
	margin-left: 30px;
}

#section p{
	color: red;
	font-size: 32px;
	font-family: Arial;
}

.zayavka {
	margin:20px;
}

.zayavka h3 {
	font-size: 24px;
}

input {
	width: 500px;
	height: 30px;
}

.button {
	margin: 50px;
	margin-left: 150px;	 
}

.button a {
	background-color: #f0f0f0;
	box-shadow: 0 5px 0 gray;
	color: black;
	padding: 0.5em 1em;
	position: relative;
	text-decoration: none;
} 
.button a:hover { 	
	color: white;
	background-color: darkgray; 
}

.button a:active {
  box-shadow: none;
  top: 5px;
}

@media (max-width: 900px) {
.glav {
 	width: 110%;
}

#footer {
	width: 700px; 
}

.header {
	width: 500px;
}
#section {
	width: 900px
}
#container{
	width: 500px;
}
li{
	width: 83px;
}

input {
	width: 350px;
}
}